body{
  font-family: 'Roboto', sans-serif;
  background-image: url("g.gif");
}


.a {
font-size: 60px;
background-color: white;
  width: fit-content;
}
.b {
  font-size: 100px;
  background-color: white;
  width: fit-content;
}
.c{
  background-color: white;
  width: fit-content;
}